body{
    background-color: rgba(9, 8, 33, 0.02);
}

h1, h2, h3, span, p {
    color: white;
}

p{
    font-size: 22px;
}

.header.dark {
    background-color: #394245;
    border-top-color: #394245;
}
.header.dark {
    color: #cacaca;
}
.header.dark {
    border-bottom: none;
}

#introduction-banner{
    background-image: url("../images/introduction_banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.feature-box.light-gray-bg > h1,h2,h3,span,strong{
    color: rgba(0, 0, 0, 0.92);
}

#modelling  p, h1, h2, h3{
    color: rgba(0, 0, 0, 0.92);
}

#modelling li, ul{
    font-size: 18px;
}

#modelling i{
    color: rgba(84, 84, 84, 0.92);
    font-size: 16px;
}
