<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
</head>
<body>
    <canvas width="1080" height="720"></canvas>
    <!-- Jquery -->
    <script src="../libraries/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="../libraries/bootstrap.bundle.min.js" async></script>
    <!-- Helper functions-->
    <!-- Moment -->
    <script src="../libraries/moment.js"></script>
    <!-- Papaparse CSV to Json-->
    <script src="../libraries/papaparse.min.js"></script>
    <script src="../scripts/helpers.js"></script>
    <script src="../scripts/global_variables.js"></script>
    <!-- Default graph data (vertex and edge) 300 nodes-->
    <script src="../scripts/vertex_default_data.js"></script>
    <script src="../scripts/edge_default_data.js"></script>

    <script src="../libraries/d3.v4.min.js"></script>
    <script src="../scripts/visualization.js"></script>
</body>

</html>
